################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication.slnx/FileContentIndex/48cff788-1c12-48fb-97ce-eacac33f89da.vsidx
/.vs/WebApplication.slnx/FileContentIndex/892933f8-c954-436d-83c9-3b164821925b.vsidx
/.vs/WebApplication.slnx/FileContentIndex/c6e23d69-a719-48b1-b14f-e8cc4a4113ac.vsidx
.vs/WebApplication.slnx/FileContentIndex/1be4fb9c-8f5c-48a9-8d67-d4717307e1a4.vsidx
.vs/WebApplication.slnx/FileContentIndex/4880d254-b209-4bc2-a62d-8b352841177b.vsidx
.vs/WebApplication.slnx/FileContentIndex/9c3c13ef-9cec-4650-959b-5b1a0be53ebc.vsidx
.vs/WebApplication.slnx/FileContentIndex/de63dcfc-b0e0-402c-bfc0-9d76b5a6cf7b.vsidx
WebApplication/obj/Debug/net10.0/WebApplication.AssemblyInfoInputs.cache
WebApplication/obj/Debug/net10.0/WebApplication.AssemblyInfo.cs
WebApplication/obj/Debug/net10.0/rpswa.dswa.cache.json
WebApplication/obj/Debug/net10.0/rpswa.dswa.cache.json
WebApplication/obj/Debug/net10.0/WebApplication.AssemblyInfo.cs
