################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication.slnx/FileContentIndex/48cff788-1c12-48fb-97ce-eacac33f89da.vsidx
/.vs/WebApplication.slnx/FileContentIndex/892933f8-c954-436d-83c9-3b164821925b.vsidx
/.vs/WebApplication.slnx/FileContentIndex/c6e23d69-a719-48b1-b14f-e8cc4a4113ac.vsidx
