<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zoo MVC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="topbar">
        <div class="container navwrap">
            <a class="brand" asp-controller="Home" asp-action="Index">Zoo MVC</a>
            <nav>
                <a asp-controller="Home" asp-action="Index">Visitantes</a>
                <a asp-controller="Animals" asp-action="Index">Animales</a>
                <a asp-controller="Management" asp-action="Index">Gestión</a>
            </nav>
        </div>
    </header>
    <main class="container maincontent">
        @RenderBody()
    </main>
</body>
</html>
